---
import Presentation from '../components/Presentation.astro';
import Experience from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro'
import Project from '../components/Project.astro';
---

<Layout title="Portfolio">
  <main  class="px-4 xl:px-0">
   <Presentation />
	 <Experience />
	 <Project />
  </main>
</Layout>
