---
import SectionContainer from './SectionContainer.astro'
import ExperienceIcon from './icons/Experiences.astro'
import { works } from '../data/Work'
import { getNameMonth } from '../helpers/utils'
---

<SectionContainer name="Experiencia">
  <ExperienceIcon slot="icon" />
  <ol
    class="relative border-s border-gray-200 dark:border-gray-700 ml-3 flex flex-col gap-10"
  >
    {
      works.map(({ date, title, description }) => {
        return (
          <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
              {getNameMonth(date.month)} {date.year}
            </time>
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              {title}
            </h3>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
              {description}
            </p>
            
          </li>
        )
      })
    }
  </ol>
</SectionContainer>
