---
import Background from '../components/Background.astro'
import Header from '../components/Header.astro'
import '@fontsource-variable/onest'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="¡Hola! Soy un apasionado desarrollador con experiencia en proyectos innovadores. Explora mi portafolio para descubrir mi habilidad en desarrollo web, aplicaciones móviles y soluciones tecnológicas. Desde código limpio hasta interfaces intuitivas, estoy listo para llevar tus ideas al siguiente nivel.">
    <meta name="author" content="Paul Torres">

    <meta property="og:title" content="Desarrollador Web y Móvil | Paul Torres - Portafolio">
    <meta property="og:description" content="Explora mi portafolio como desarrollador web y móvil. Con experiencia en distintas tecnologías, estoy listo para llevar tus ideas al siguiente nivel.">
    <meta property="og:image" content="/home.png">
    <meta property="og:url" content="https://pauutoorres.netlify.app/">

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Background />
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: 'Geist', sans-serif;
  }
</style>
